<br/>
<br/>
<h2>Confirm deletion of bucket</h2>
<br/>
<br/>
<p>Item
	<%=  bucket._id %>
</p>
<p>
	<%=  bucket.name %>
</p>
<p>
	<%=  bucket.price %> per
		<%=  bucket.unit %>
</p>
<p>
	Status: <%=  bucket.status %>
</p>

<br/>
<form method="get" action="/bucket">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/bucket/delete/<%= bucket._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>
