
<% console.log(buckets.query); %>
<div class="container">
 <h2>buckets</h2>

<!--<p>There are  <%= buckets.query.length %> buckets. <br/>-->
<a href="bucket/create"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span> Add a new one</button></a></p>

<table class="table" border="1" id="t13">
    <thead>
      <tr>
      <th>ID</th>
        <th>Name</th>
        <th>Display Order</th>
        <th>Price</th>
        <th>Unit</th>
        <th>Status</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% count=0; %>
<% for (var i = 0; i < buckets.query.length; i++) { %>
         <tr> <% count++; %>
            <td><%=  buckets.query[i]._id %></td>
            <td><%=  buckets.query[i].name %></td>
            <td><%=  buckets.query[i].displayorder %></td>
            <td><%=  buckets.query[i].price %></td>
            <td><%=  buckets.query[i].unit %></td>
            <td id="stat"><%=  buckets.query[i].isactive?"Active":"Inactive" %></td>
            <td>
            <a href="bucket/active/<%=  buckets.query[i]._id %>/<%=  buckets.query[i].isactive?'false':'true' %>">	<button type="button" class="btn <%=  buckets.query[i].isactive?'btn-danger':'btn-success' %>"> <%=  buckets.query[i].isactive?"Deactivate":"Activate" %></button></a>
            <a href="bucket/details/<%=  buckets.query[i]._id %>">	<button type="button" class="btn btn-success">  Details </button></a>
						<a href="bucket/edit/<%=  buckets.query[i]._id %>">	<button type="button" class="btn btn-warning"> Edit </button></a>
            <a href="bucket/delete/<%=  buckets.query[i]._id %>">	<button type="button" class="btn btn-danger"> Delete </button></a>
						</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
