<h3>Roofing Materials</h3>

Roof Type: <%=  estimate.roofing.roofType %><br/>
Process Type: <%=  estimate.roofing.processType %><br/>
Coating Type: <%=  estimate.roofing.coatingType %><br/>
Coating Selection: <%=  estimate.roofing.coatingSelection %><br/>
Coating Coverage SqFt: <%=  estimate.roofing.coatingCoverageSqFt %><br/>
Uses Basecoat: <%=  estimate.roofing.usesBasecoat %><br/>
Basecoat Selection: <%=  estimate.roofing.basecoatSelection %><br/>
Basecoat Coverage SqFt: <%=  estimate.roofing.basecoatCoverageSqFt %><br/>
Uses Primer: <%=  estimate.roofing.usesPrimer %><br/>
Primer Selection: <%=  estimate.roofing.primerSelection %><br/>
Primer CoverageSqFt: <%=  estimate.roofing.primerCoverageSqFt %><br/>
Uses Topcoat: <%=  estimate.roofing.usesTopcoat %><br/>
Topcoat Selection: <%=  estimate.roofing.topcoatSelection %><br/>
Topcoat CoverageSqFt: <%=  estimate.roofing.topcoatCoverageSqFt %><br/>

