<h3>Flooring Materials</h3>

FloorSystemType: <%=  estimate.flooring.floorSystemType %><br/>
UsesUrethane: <%=  estimate.flooring.usesUrethane ? 'true' : 'false' %><br/>
UethaneProductSelection:	<%=  estimate.flooring.urethaneProductSelection %><br/>
UrethaneCoverageSqFt:	<%=  estimate.flooring.urethaneCoverageSqFt %><br/>
UsesEpoxy:	<%=  estimate.flooring.usesEpoxy ? 'true' : 'false' %><br/>
EpoxyProductSelection:	<%=  estimate.flooring.epoxyProductSelection %><br/>
EpoxyCoverageSqFt:	<%=  estimate.flooring.epoxyCoverageSqFt %><br/>

