<!-- P2-4 Prathibha Kamani & Raveendranath Eluri  -->
<div class="form-group">
  <label for="usesEpoxy">Uses Epoxy?</label>
  <input type="checkbox" class="form-control" id="usesEpoxy" name="usesEpoxy" <%= estimate.flooring.usesEpoxy ? 'checked' : ' ' %> />
</div>
<div class="form-group">
  <label for="epoxyProductSelection">Epoxy Product Selection</label>
  <select class="form-control" name="epoxyProductSelection" id="epoxyProductSelection"  >
    <%  var data = flooringCoatings.query; for( var i=0; i<data.length; i++){ %>
    <option value="<%= data[i]._id %>" <%= (estimate.flooring.epoxyProductSelection == data[i]._id)?'selected':'' %>> <%= data[i].name %> </option>
    <% } %>
</select>
</div>
<div class="form-group">
  <label for="epoxyCoverageSqFt">Epoxy Coverage (SqFt)</label>
  <input type="number" class="form-control" id="epoxyCoverageSqFt" name="epoxyCoverageSqFt" value="<%= estimate.flooring.epoxyCoverageSqFt %>" min=0 max=200 >
</div>