<div class="form-group">
  <label for="usesUrethane">Uses Urethane?</label>
  <input type="checkbox" class="form-control" id="usesUrethane" name="usesUrethane" <%= estimate.flooring.usesUrethane ? 'checked' : ' ' %> />
</div>
<div class="form-group">
  <label for="urethaneProductSelection">Urethane Product Selection</label>
  <select class="form-control" name="urethaneProductSelection" id="urethaneProductSelection">
    <%  var data = flooringCoatings.query; for( var i=0; i<data.length; i++){ %>
    <option value="<%= data[i]._id %>"<%= (estimate.flooring.urethaneProductSelection == data[i]._id)?'selected':'' %>> <%= data[i].name %> </option>
    <% } %>
</select>
</div>
<div class="form-group">
  <label for="urethaneCoverageSqFt">Urethane Coverage (SqFt)</label>
  <input type="number" class="form-control" id="urethaneCoverageSqFt" name="urethaneCoverageSqFt" value="<%= estimate.flooring.urethaneCoverageSqFt %>" min=80  max=200 >
</div>
