<!--
P3-4
Anil seshu kumar Akula , Reshma Shaik 
-->
<div class="form-group">
  <label for="usesTopcoat">Uses Topcoat?</label>
  <input type="checkbox" class="form-control" id="usesTopcoat" name="usesTopcoat" <%= estimate.roofing.usesTopcoat ? 'checked' : ' ' %> />
</div>
<div class="form-group">
  <label for="topcoatSelection">Topcoat Selection</label>
  <select class="form-control" name="topcoatSelection">
    <%  var data = roofingTopcoats.query; for( var i=0; i<data.length; i++){ %>
       <option value="<%= data[i]._id %>"<%= (estimate.roofing.topcoatSelection == data[i]._id)?'selected':'' %>> <%= data[i].name %> </option>
    <% } %>
</select>
</div>
<div class="form-group">
  <label for="topcoatCoverageSqFt">Topcoat Coverage (SqFt)</label>
  <input type="number" class="form-control" id="topcoatCoverageSqFt" name="topcoatCoverageSqFt" value="<%= estimate.roofing.topcoatCoverageSqFt %>" min=0 max=200 >
</div>