<!-- Dev Team ID (P4-4) Karthik Laddipeerla(S528805),Naveen Kumar Kolla(s528743)-->
<div class="form-group">
 <label for="usesBasecoat">Uses Basecoat?</label>
 <input type="checkbox" class="form-control" id="usesBasecoat" onchange="checkbasecoat()"
        name="usesBasecoat" <%= estimate.waterproofing.usesBasecoat ? 'checked' : ' ' %> />
</div>
<div class="form-group">
 <label for="BasecoatProductSelection">Basecoat Product Selection</label>
 <select class="form-control" name="BasecoatProductSelection" id="BasecoatProductSelection">
   <%  var data = waterproofingCoatings.query; for( var i=0; i<data.length; i++){ %>
   <option value="<%= data[i]._id %>"<%= (
     estimate.waterproofing.BasecoatProductSelection == data[i]._id)?'selected':'' %>>
     <%= data[i].name %> </option>
   <% } %>
</select>
</div>
<div class="form-group">
 <label for="BasecoatCoverageSqFt">Basecoat Coverage (SqFt)</label>
 <input type="number" class="form-control" id="BasecoatCoverageSqFt"
        name="BasecoatCoverageSqFt"
        value="<%= estimate.waterproofing.BasecoatCoverageSqFt %>"
        min=80  max=200 >
</div>
<script>
function checkbasecoat()  {
 if (document.getElementById('usesBasecoat').checked) {
   alert('is checked');
   document.getElementById('BasecoatProductSelection').style.display = "block";
   }
 else {
   alert("now it's not checked");
   document.getElementById('BasecoatProductSelection').style.display = "none";
   }
}
</script>
