<!-- P2-8
 ShivaTeja Miyapuram, Manohar Sriram -->
<br/>
<br/>
<h2>Confirm deletion of rollers</h2>
<br/>
<br/>
<table class="table" border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Price per Roller</th>
					
				</tr>
			</thead>
 <tbody>	
	<tr>
		<td>
			<p>
				Item <%=  roller._id %>
			</p>
		</td>
		<td>
			<p>
				Name <%=  roller.name %>
			</p>
		</td>		
		<td>
			<p>
				<%=  roller.price %> per
					<%=  roller.unit %>
			</p>
		</td>	
	</tr>	
	</tbody>
</table>
<br/>
<form method="get" action="/roller">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/roller/delete/<%= roller._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger" />
</form>
