<!--P3-10
Joel Beckley, Veera Kishon Kumar Mucherla-->
<br/>
<br/>
<h2>Edit compressor</h2>
<div class="content">
	<div>
		<form method="POST" action="/compressor/save/<%= waterproofingPrimer._id %>">

			<div class="form-group" id=frm>
				<label for="_id">ID</label>
				<input type="number" class="form-control" id="_id" name="_id" value="<%= compressor._id %>" required disabled>
			</div>

			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" name="name" value="<%= compressor.name %>" required>
			</div>

			<div class="form-group">
				<label for="unit">Unit</label>
				<input type="text" class="form-control" id="unit" name="unit" value="<%= compressor.unit %>" required>
			</div>

			<div class="form-group">
				<label for="price">Price</label>
				<input type="number" class="form-control" id="price" name="price" step="any" value="<%= compressor.price %>" required>
			</div>

			<div class="form-group">
				<label for="displayorder">Display Order</label>
				<input type="number" class="form-control" id="displayorder" name="displayorder" value="<%= compressor.displayorder %>"
					required>
			</div>

			<input type="submit" value="Save" class="btn btn-primary" />
		</form>
		<br/>
		<form method="get" action="/compressor">
			<input type="submit" value="Return to list" class="btn btn-caution" />
		</form>
	</div>
</div>
 <!--Team 4-8(Dara Sandeep,Dhulipalla Tilak)-->