
<!-- Saidevi Uppalapati -->

<br/>
<br/>
<h2>Confirm deletion of Masks</h2>
<br/>
<br/>
<p>Item
	<%=  masks._id %>
</p>
<p>
	<%=  masks._type %>
</p>


<p>
	<%=  masks.name %>
</p>
<p>
	<%=  masks.price %> per
		<%=  masks.unit %>
</p>
<p>
	Status: <%=  masks.status %>
</p>

<br/>
<form method="get" action="/masks">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/hoses/delete/<%= masks._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>

